* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
    width: 100%;
    position:relative; 
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-bar ul{
    list-style-type: none;
    background-color: rgba(58, 70, 100, 1);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar a{
    color: rgb(234,160,162);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.nav-bar a:hover{
    background-color: rgba(58, 70, 100, 1);
}

.nav-bar li{
    float: left;
}