*:root{
    margin: 0;
    padding: 0;
}

body{
    font-family:poppins, sans-serif;
    background-color: cadetblue;
    color: #333;
}

.nav-container {
    height: auto;
    background-color: cadetblue;
    display: flex;
    position: sticky;
    width: 100%;
}

.logo-container{
    background-color: cadetblue;
    border: 2px solid salmon;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-container{
   background-color: cadetblue;
    border: 2px solid salmon;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container div {
    padding: 20px;
}

.main-menu-container ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.main-menu-container ul li {
    padding: 20px;
    font-size: 1.5rem;
    color: white;
}

.main-menu-container ul li a {
    text-decoration: none;
    color: white;
}

.hero-container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.hero-image{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-text{
    padding: 20px;
    width: 80%;
}


.hero-text h1 {
    font-size: 3rem;
    color: white;
}

.hero-text p {
    font-size: 1.5rem;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: salmon;
    color: white;
    border: 2px solid darksalmon;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: wheat;
}

button:focus {
    outline: none;
}

button:active {
    background-color: darksalmon;
}

.about-container{
    padding: 2px;
    margin: 0 auto;
    width: 80%;
}